
/* GENEL AYARLARRR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f7;
  color: #911c31;
}

/* NAVBAR kısmı */
.navbar {
  display: flex; /* Logo ve menüyü yatayda hizalamak için */
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #911c31;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  display: flex; /* Linkleri masaüstünde yan yana göstermek için gerekli */
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* HERO - MOBil */
.hero {
  display: flex;
  flex-direction: column; /* Mobilde resim üstte, yazı altta */
  padding: 20px;
}

.hero-image img {
  width: 100%;
  border-radius: 8px;
}

.hero-text {
  margin-top: 20px;
}

.hero-text button {
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #f39c12;
  border: none;
  color: white;
  cursor: pointer;
}

/* SERVICES GRID - MOBILE */
.services {
  display: grid;
  grid-template-columns: 1fr; /* Mobilde tek sütun */
  gap: 20px;
  padding: 20px;
}

.service-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

/* Tablete göre*/
@media (min-width: 768px) {

  .services {
    grid-template-columns: repeat(2, 1fr); 
    /* Tablet modunda hizmetleri 2'li göstermek için */
  }

  .hero {
    flex-direction: row; 
    /* Tablet ve üstünde yazı-sol, resim-sağ */
    align-items: center;
    gap: 20px;
  }

  .hero-text {
    margin-top: 0;
  } 
  }


/* laptop */
@media (min-width: 1024px) {

  .services {
    grid-template-columns: repeat(3, 1fr); 
    /* Geniş ekranda hizmetleri 3'lü grid yapmak için */
  }
  }
  .pricing {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 20px;
}
.pricing li {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1; 
  text-align: center;
}
 {
  background-color: #f4f6f7;
}
